<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <CustomLevels>
        <CustomLevel name="AUDIT" intLevel="350"/>
    </CustomLevels>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, AUDIT=bright, INFO=blue, DEBUG=default} %logger{36} - %msg%n"/>
        </Console>
        <Null name="null"/>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>